.body {
  
  font-family: "Hevletica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  background-color: #fff;
  margin: 50px;
}




.navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

article {
  margin: 50px;
}

#social {
  font-size: 30px;
  font-family: fantasy;
  color: #dee2e8;
}

 #home {
   padding-top:50px;
   height:800px;
   color: #fff; 
   background-color: #bbceed;
 }
  #aboutme {
    padding-top:50px;
    height:800px;
    color: #fff; 
    background-color: #91a0ba;
  }
  #portfolio {
    padding-top:50px;
    height:800px;
    color: #fff; 
    background-color: #717d91;
  }
  #contact {
    padding-top:50px;
    height:800px;
    color: #fff; 
    background-color: #444c59;
  }