.body {
	font-family: "Hevletica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
	background-color: #fff;
	margin: 50px;
}

img {
	display: inline-block;
}

.navbar-toggle .icon-bar {
	background-color: #888;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 4px;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}

article {
	margin: 50px;
	font-size: 18px;
	font-family: Georgia, serif;
}

h2 {
	margin: 40px;
	font-size: 60px;
	font-family: Helvetica;
}

#social {
	font-size: 30px;
	font-family: fantasy;
	color: #dee2e8;
}

#tribute {
	font-size: 50px;
	font-family: fantasy;
	color: #dee2e8;
}

#home {
	padding-top: 150px;
	height: 800px;
	color: #fff;
	background-color: #bbceed;
}

#aboutme {
	padding-top: 50px;
	height: 800px;
	color: #263142;
	background-image: url(../images/top.jpg);
	background-color: #91a0ba;
	background-size: 1500px;
}

#portfolio {
	padding-top: 50px;
	height: 800px;
	color: #263142;
	background-image: url(../images/middle.jpg);
	background-color: #717d91;
	background-size: 1500px;
}

#portfolio-images {
	margin: 10px;
	padding: 10px;
}

#contact {
	padding-top: 50px;
	height: 800px;
	color: #263142;
	background-image: url(../images/bottom.jpg);
	background-color: #444c59;
	background-size: 1500px;
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
}

@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}